@charset "utf-8";

/* sub - header */
.sub_intro .header_nav .nav_intro a {background-position:-145px -44px}
.sub_work .header_nav .nav_work a {background-position:-212px -44px}
.sub_pr .header_nav .nav_pr a {background-position:-306px -44px}
.sub_adbuy .header_nav .nav_adbuy a {background-position:-410px -44px}

/* sub - intro */
.sub_intro .intro_nav .mn_intro {background-position:-10px -327px}
.sub_work .intro_nav .mn_work {background-position:-161px -327px}
.sub_pr .intro_nav .mn_pr {background-position:-314px -327px}
.sub_adbuy .intro_nav .mn_adbuy {background-position:-463px -327px}

/* sub - spot */
.sub_intro .spot_wrap {height:200px; background:url(/jilpoong/assets/images/spot_sub01.png) no-repeat 50% 0}
.sub_work .spot_wrap {height:200px; background:url(/jilpoong/assets/images/spot_sub02.png) no-repeat 50% 0}
.sub_pr .spot_wrap {height:200px; background:url(/jilpoong/assets/images/spot_sub03.png) no-repeat 50% 0}
.sub_adbuy .spot_wrap {height:200px; background:url(/jilpoong/assets/images/spot_sub04.png) no-repeat 50% 0}

/* intro */
.intro {padding-top:90px; height:375px; background:#26272c}
.intro_sub {position:relative; margin:0 auto; width:599px; height:307px}

.intro_nav ul li {display:block; float:left; margin-left:6px; background:url(/jilpoong/assets/images/intro_sub.png) no-repeat}
.intro_nav .mn_intro {margin-left:0; width:145px; height:307px; background-position:-10px -10px}
.intro_nav .mn_work {width:145px; height:307px; background-position:-161px -10px}
.intro_nav .mn_pr {width:145px; height:307px; background-position:-314px -10px}
.intro_nav .mn_adbuy {width:145px; height:307px; background-position:-463px -10px}

.intro_nav ul li a {display:block; position:absolute; background:url(/jilpoong/assets/images/sp_nav.png) no-repeat}
.intro_nav .mn_intro a {top:233px; left:-72px; width:136px; height:97px; background-position:-20px -221px}
.intro_nav .mn_work a {top:-43px; left:82px; width:136px; height:97px; background-position:-161px -221px}

.intro_nav .mn_pr a {top:236px; left:371px; width:136px; height:97px; background-position:-306px -221px}

.intro_nav .mn_adbuy a {top:-48px; left:524px; width:136px; height:97px; background-position:-448px -221px}

/* spot */
.spot {height:200px; background:#3ad70c}
.spot_wrap {height:200px; background:url(/jilpoong/assets/images/spot_main.png) no-repeat 50% 0}

/* sub_intro */
.sub_intro .sec_ci {padding:120px 0}
.sub_intro .sec_ci_area {margin:0 auto; width:461px; height:369px; background:url(/jilpoong/assets/images/sub_intro01.png) no-repeat}

.sub_intro .sec_history {padding:100px 0; background:#eef0f2}
.sub_intro .sec_history_area {margin:0 auto; width:954px; height:256px; background:url(/jilpoong/assets/images/sub_intro02.png) no-repeat}

.sub_intro .sec_corp {margin:110px 0}
.sub_intro .sec_corp_area {margin:0 auto; width:1050px; height:470px}

.corp_info {overflow:hidden; margin-top:45px}
.corp_info:first-child {margin-top:0}
.corp_info h2 {display:block; float:left; margin-top:30px; margin-right:45px; width:75px; height:27px}
.corp_info h2.tit01 {background:url(/jilpoong/assets/images/sp_intro03.png) no-repeat -20px -20px}
.corp_info h2.tit02 {background:url(/jilpoong/assets/images/sp_intro03.png) no-repeat -115px -20px}

.corp_info ul {float:left; width:930px}
.corp_info ul li a {float:left; margin-left:25px; width:182px; height:212px; background:url(/jilpoong/assets/images/sp_intro03.png) no-repeat}

.corp_info .corp01 a {margin-left:0; background-position:-20px -59px}
.corp_info .corp02 a {background-position:-212px -59px}
.corp_info .corp03 a {margin-left:0; background-position:-404px -59px}
.corp_info .corp04 a {background-position:-20px -522px}
.corp_info .corp05 a {background-position:-212px -522px}
.corp_info .corp06 a {background-position:-404px -522px}

.corp_info .corp01 a:hover {background-position:-20px -290px}
.corp_info .corp02 a:hover {background-position:-212px -290px}
.corp_info .corp03 a:hover {background-position:-404px -290px}
.corp_info .corp04 a:hover {background-position:-20px -753px}
.corp_info .corp05 a:hover {background-position:-212px -753px}
.corp_info .corp06 a:hover {background-position:-404px -753px}

.sub_intro .sec_address {padding:100px 0; background:#eef0f2}
.sub_intro .sec_address_area {margin:0 auto; width:1044px; height:222px; background:url(/jilpoong/assets/images/sub_intro04.png) no-repeat}

.sub_intro .sec_map {height:350px}

/* sub_work */
.sub_work .sec_speed {padding:100px 0}
.sub_work .sec_speed_area {margin:0 auto; width:578px; height:775px; background:url(/jilpoong/assets/images/sub_work01.png) no-repeat}

.sub_work .sec_movie {padding:100px 0; background:#eef0f2}
.sub_work .sec_movie .sec_header {display:block; margin:0 auto; margin-bottom:30px; width:387px; height:83px; background:url(/jilpoong/assets/images/sub_work02.png) no-repeat}

.sub_work .sec_movie_area {margin:0 auto; width:806px}
.sub_work .sec_movie_area embed {border:3px solid #000}

.sub_work .sec_5min {padding:100px 0}
.sub_work .sec_5min_area {margin:0 auto; width:794px; height:799px; background:url(/jilpoong/assets/images/sub_work03.gif) no-repeat}

.sub_work .sec_overview {padding:250px 0; background:#eef0f2}
.sub_work .sec_overview_area {margin:0 auto; width:682px; height:46px; background:url(/jilpoong/assets/images/sub_work04.png) no-repeat}

.sub_work .sec_comming {padding:100px 0}
.sub_work .sec_comming_area {margin:0 auto; width:1042px; height:1597px; background:url(/jilpoong/assets/images/sub_work05.png) no-repeat}

/* sub_pr */
.sub_pr .sec_pr {padding:100px 0}
.sub_pr .sec_pr_area {overflow:hidden; margin:0 auto; width:1050px}

.pr_lst {overflow:hidden; margin:0 auto; margin-bottom:25px; width:750px; text-align:center}
.pr_lst ul li {display:inline-block; margin-left:9px; margin-bottom:10px; width:178px; height:25px; background:url(/jilpoong/assets/images/sp_nav.png) no-repeat}
.pr_lst ul li a {display:block; width:178px; height:25px}
.pr_lst ul li:first-child {margin-left:0}

.pr_lst .mn01 {background-position:-20px -334px}
.pr_lst .mn02 {background-position:-208px -334px}
.pr_lst .mn03 {background-position:-396px -334px}
.pr_lst .mn04 {background-position:-584px -334px}
.pr_lst .mn05 {background-position:-20px -404px}
.pr_lst .mn06 {background-position:-208px -404px}
.pr_lst .mn07 {background-position:-396px -404px}

.pr_lst .mn01.on {background-position:-20px -369px}
.pr_lst .mn02.on {background-position:-208px -369px}
.pr_lst .mn03.on {background-position:-396px -369px}
.pr_lst .mn04.on {background-position:-584px -369px}
.pr_lst .mn05.on {background-position:-20px -439px}
.pr_lst .mn06.on {background-position:-208px -439px}
.pr_lst .mn07.on {background-position:-396px -439px}

.sub_pr img {float:left}

.sub_pr .desc01 {margin:0 auto; width:1010px}
.sub_pr .desc02 {margin:0 auto; width:1050px}
.sub_pr .desc03 {margin:0 auto; width:1050px}
.sub_pr .desc04 {margin:0 auto; width:619px}
.sub_pr .desc05 {margin:0 auto; width:619px}
.sub_pr .desc06 {margin:0 auto; width:720px}
.sub_pr .desc07 {margin:0 auto; width:684px}

/* sub_adbuy */
.sub_adbuy .sec_interview {padding:100px 0}
.sub_adbuy .sec_interview_area {margin:0 auto; width:794px; height:1126px; background:url(/jilpoong/assets/images/sub_adbuy01.png) no-repeat}

.sub_adbuy .sec_adtoon {padding:100px 0; background:#eef0f2}
.sub_adbuy .sec_adtoon_area {margin:0 auto; width:696px; height:1395px; background:url(/jilpoong/assets/images/sub_adbuy02.png) no-repeat}

.sub_adbuy .sec_korea {padding:100px 0}
.sub_adbuy .sec_korea_area {margin:0 auto; width:484px; height:735px; background:url(/jilpoong/assets/images/sub_adbuy03.png) no-repeat}

.sub_adbuy .sec_loca {padding:100px 0; background:#eef0f2}
.sub_adbuy .sec_loca_area {margin:0 auto; width:629px; height:768px; background:url(/jilpoong/assets/images/sub_adbuy04.png) no-repeat}

.sub_adbuy .sec_credit {padding:100px 0}
.sub_adbuy .sec_credit_area {margin:0 auto; width:326px; height:4904px; background:url(/jilpoong/assets/images/sub_adbuy05.png) no-repeat}

/* content */
.overview {padding:25px 0; background:#eef0f2}